.hidden{
    display: none;
}


body {
    background-color: cornflowerblue;
    text-align: center;
}

button {
    border: solid grey;
    align-content: center;
}

.intro {
    text-align: center;
    
}